/* =============================== PALETTE =========================*/

$dark-color: rgb(80, 79, 79);
$light-color: #e7e7e7;
$orange: #ffbb1e;



/* =============================== HEADER BANNER  =========================*/

.headerBanner {
    padding-left: 3%;      
    line-height: 70px;
    color: $dark-color;

    .bannerImg {
        height: 40px;
        width: 40px;
        transform: translate(-10px, 10px);
    }
    
    .title {
        color: $dark-color;
        font-size: 1.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .options {
        float: right;
        margin-right: 1.8%;
        font-size: 1.5rem;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color:rgb(101, 100, 100);

        &:hover{
            color: black;
        }
    }
}


/* =============================== NAVBAR  =========================*/

.navbar {
    text-align: center;
    height: inherit;


    ul {
        list-style-type: none;
        padding: 0% 3% 0% 3%;
        margin: 0;
        position: relative;
        height: 100%;      
        display: flex;
        align-items: center;

        li {
            
            float: left;
            margin-right: 8%;

            a {
                text-decoration: none;   
                line-height: 70px;

                &.navLink {
                    color: rgb(169, 168, 168);
                }
    
                &.linkActive {
                    color: white;
                }

                &:hover {
                    color: $orange;
                    transition: all .15s ease-in-out;
                }
            
            }
        }

    }
}

/* ============================================== INFO OVERLAY ======================================= */

.infoContainer {
    position: relative;
    min-height: 100%;
    min-width: 100%;

    p {
        font-size: .8rem;
        color:rgb(58, 58, 58);
        text-align: left;
        width: 100%;

        span {
            text-align: right;
        }
    }
}

.infoTitle {
    text-align: center;
    color: rgb(58, 58, 58);
    letter-spacing: .3px;
    font-size: 1.5rem;
    font-weight: lighter;

}

.infoContent {
    font-size: .8rem;
    padding-top: 20px;

    a {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color:#faa700;
        }
    }
}


/* ============================================== FOOTER ======================================= */

footer {
    display: flex;
    line-height: 50px;
    color: $light-color;
    min-width: 100%;
    font-size: .85rem;

    .foot {
        flex: 1;
        margin-left: 3%;
    }

    .version {
        flex: 2;
        float: right;
        text-align: right;
        margin-right: 3%;
    }
}

/* ================================= TOOL CARDS ===================================== */

.toolContainer {
    
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: repeat(3, 100%);
    gap: 16px;
  
    .toolCardItem {
      border: 1px solid #ccc;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }