.menuContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    .menuSx {
        flex-basis: 17%;
        border-right: 3px solid rgb(56, 55, 55);
        padding-left: 3%;
        padding-right: 3%;
        background-color: rgb(93, 93, 93);
        color: white;
        text-align: center;

        hr {
            border: none; 
            height: 2px;
            background-color: gray;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            margin: 10px 0; 

        }
        

        .linkTool {
            text-decoration: none;
            color: rgb(176, 176, 176);
            transition: .2s ease-in-out;
            font-size:  .95rem;


            &:hover {
                color: white;
                transition: .2s ease-in-out;
            }

        }

        .activeLinkTool {
            text-decoration: none;
            color: white;
            transition: .2s ease-in-out;
            font-size:  .95rem;

            &:hover {
                color: white;
                transition: .2s ease-in-out;
            }
        }

    }

    .menuDx {
        flex-basis: 77%;
        padding: 0% 3%;
        
    }
}

/* =========================== TOOL'S PAGE  =========================== */

.toolPage {
    
    color: rgb(45, 45, 45);

    h1 {
        letter-spacing: 1px;
        color: rgb(56, 55, 55);

        img {
            width: 40px;
            height: 40px;
            transform: translateY(10px);
        }
    }

    h2 {
        font-size: 1rem;
        font-weight: 500;
        border-left: 5px solid rgb(45, 45, 45);
        padding-left: 10px;

        .linkToFolder {
            text-decoration: none;
            background-color: transparent;
            border: none;
            color: inherit;
            transition: .2s ease-in-out;
            cursor: pointer;
            font-size: .95rem;
            font-style: italic;

            &:hover {
                text-decoration: underline;
                transition: .2s ease-in-out;
            }
            
        }

        .linkToFile {
            text-decoration: none;
            background-color: transparent;
            border: none;
            color: inherit;
            transition: .2s ease-in-out;
            cursor: pointer;
            font-size: .95rem;
            font-style: italic;

            &:hover {
                text-decoration: underline;
                transition: .2s ease-in-out;
            }
        }


    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
        font-style: italic;
        
    }

    .questionTitle {
        font-size: 1.5rem;
        font-style: 100;
        font-weight: lighter;
        color: rgb(93, 93, 93);
        font-style: italic;
    }

    .buttonContainer {
        position: relative;
        width: 100%;
        text-align: center;

        .noButton {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-left: 20px;

            &:hover {
                background-color: transparent;
                transform: scale(1.2);
            }

        }


        button {
            background-color: rgb(248, 164, 8);
            padding: 16px;
            border-radius: 8px;
            border: 3px solid rgb(45, 45, 45);
            text-align: center;
            color: rgb(45, 45, 45);
            cursor: pointer;
            font-size: .9rem;
            transition: .2s ease-in-out;
            text-decoration: none;

            &:hover {
                background-color: rgb(45, 45, 45);
                color: white;
                transition: .2s ease-in-out;
            }

        }

        input {
            height: 20px;
            margin-left: 40px;
            width: 250px;
        }

        span {
            font-size: 2rem;
            font-weight: bold;
        }

    }
}

// =================== TOOLS FORM ==============


.twoColumnsForm {
    display: flex;
    text-align: center;
}

.formColumn {
    flex: 1;
}

// =================== SYSTEM INFO ==============

.systemInfoTable {
    display: table;
    width: 100%; //
    border-collapse: collapse;
    font-size: .95rem;
  
    .systemInfoRow {
      display: table-row;
      
      
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }
    }
  
    .systemInfoCell {
      display: table-cell;
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
  
      
      &:first-child {
        width: 10%; 
      }
  
      
      &:not(:first-child) {
        width: 45%; 
      }
    }
  
    .header {
      font-weight: bold;
      background-color: #f2f2f2;
    }
  }
  
  .checkBox {
    text-align: center;
    vertical-align: middle;
  }