/* ======================================= UTILITIES ======================================= */

.overlayBackground {
    background-color: rgba(0, 0, 0, .6);
    width:  100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
}

.overlayContainer {
    background-color: rgb(238, 236, 236);
    border: 1px solid rgb(79, 79, 79);
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 30px;
    width: 30%;
    height: 50%;

}

.overlayContent {
    position: relative;
    min-height: calc(100% - 30px);
}

.overlayOptions {
    position: relative;
    bottom: 0;
    min-width: 100%;
    min-height: 30px;
    text-align: center;
    align-items: baseline;

    button {
        background-color: rgb(21, 127, 255);
        padding: 10px;
        border: none;
        border-radius: 10px;
        text-align: center;
        color: white;
        cursor: pointer;        
        transition: .2s ease-in-out;

        &:hover {
            background-color: rgb(20, 81, 247);
            transition: .2s ease-in-out;
        }
    }
}

/* ============================== LOGIN =============================== */


.loginBackground {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgb(238, 238, 238);
}

.loginContainer {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 30px;
    width: 35%;
    height: 35%;

        img {
            margin-bottom: 20px;
        }
        
        label {
            font-size: 1.2rem;
            text-align: left;
        }

        input {
            width: 97.5%;
            height: 3rem;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 10px;
            font-size: 1.2rem;
            padding-left: 5px;

            &:focus {
                border: 1px solid #612166;
                outline: none;
            }
        }

        button {

            margin: 0 auto;
            text-align: center;
            background-color: #612166;
            color: white;
            width: 100%;
            border-radius: 10px;
            min-height: 3rem;
            outline: none;
            border: transparent;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: #561d5a;
            }

        }


}

/* =========================== LOADING OVERLAY ========================= */

.loadingOverlay {
    width: 100%;
    height: inherit;
    position: fixed;
    top: 145px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;

    svg{
        width: 100px;
        height: 100px;
        margin: 20px;
      }

  }