/* =============================== PALETTE =========================*/

$dark-color: #333333;
$light-color: #e7e7e7;
$orange: #fec305;

/* =============================== MAIN PAGE =========================*/

body {
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
